In [1]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import re
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rozym\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rozym\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [4]:
df = pd.read_csv('hasilscrapping.csv', header=0)
df.head(2)

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1774583903770280445,Sun Mar 31 23:45:47 +0000 2024,0,Kalo dipikir2 kita sama2 pindah tempat kerja. ...,1774583903770280445,NaN,NaN,in,SHINee World,0,1,0,https://x.com/minglup/status/1774583903770280445,118003570,minglup
1,1774380126702321731,Sun Mar 31 23:02:53 +0000 2024,2,@bandacatturas semangat . bisa kl kerja dsana ...,1774573107342381301,NaN,bandacatturas,in,"Bekasi Barat, Indonesia",0,1,0,https://x.com/SateTong/status/1774573107342381301,1303805490627923968,SateTong

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2108 entries, 0 to 2107
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   conversation_id_str      2108 non-null   int64
 1   created_at               2108 non-null   object
 2   favorite_count           2108 non-null   int64
 3   full_text                2108 non-null   object
 4   id_str                   2108 non-null   int64
 5   image_url                93 non-null     object
 6   in_reply_to_screen_name  1172 non-null   object
 7   lang                     2108 non-null   object
 8   location                 1256 non-null   object
 9   quote_count              2108 non-null   int64
 10  reply_count              2108 non-null   int64
 11  retweet_count            2108 non-null   int64
 12  tweet_url                2108 non-null   object
 13  user_id_str              2108 non-null   int64
 14  username                 2108 non-null   object
dtypes: int64(7), object(8)
memory usage: 247.2+ KB

In [8]:
# Case Folding
def clean_lower(lwr):
    lwr = lwr.lower()
    return lwr

# Membuat kolom tambahan untuk hasil dari case folding
df['case_folding'] = df['full_text'].apply(clean_lower)
casefolding = pd.DataFrame(df['case_folding'])
casefolding

casefolding.to_csv('hasilcasefolding.csv', index=0)

In [19]:
hasilcasefolding = pd.read_csv('hasilcasefolding.csv')
hasilcasefolding.columns
# hasilcasefolding.shape
# hasilcasefolding.head

Index(['lowering'], dtype='object')